@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 8%;
    --foreground: 0 0% 100%;

    --card: 250 20% 12%;
    --card-foreground: 0 0% 100%;

    --primary: 263 70% 60%;
    --primary-foreground: 0 0% 100%;

    --secondary: 263 70% 50%;
    --secondary-foreground: 0 0% 100%;

    --muted: 240 10% 16%;
    --muted-foreground: 240 5% 65%;

    --accent: 263 70% 60%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 10% 16%;
    --input: 240 10% 16%;
    --ring: 263 70% 60%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
